.product {
	.productContainer {
		display: flex;
		margin: 40px 0;

		.preview {
			display: flex;
			flex-direction: column;
			max-width: 500px;
			position: relative;
			.mainPreview {
				width: 100%;
				img {
					border-radius: 8px;
					width: 100%;
				}
			}
			.circle {
				position: absolute;
				top: 24px;
				left: 24px;
				width: 64px;
				height: 64px;
				img {
					padding: 8px;
					box-shadow: 0px 0px 3px #00000040;
					border-radius: 5px;
					background-color: white;
					width: 100%;
				}
			}
			.miniPreviews {
				width: 100%;
				display: flex;
				align-items: center;
				margin-top: 8px;
				justify-content: space-between;
				.miniImage {
					margin: 0 6px;
					img {
						object-fit: cover;
						width: 100%;
					}
				}
			}
		}
		.details {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 0 40px;

			.info {
				display: flex;
				flex-direction: column;
				border-bottom: 1px solid #d9d9d9;
				padding-bottom: 1.5rem;

				.logo {
					margin-bottom: 15px;
				}
				.title {
					font-size: 1.125rem;
					font-weight: 600;
					word-wrap: break-word;
					margin-bottom: 15px;
				}
				.category {
					color: #a7a9ac;
					font-weight: 600;
				}
				.price {
					display: flex;
					align-items: center;
					font-weight: 600;
					.newPrice {
						font-size: 30px;
						color: var(--secondary-color);
					}
					.oldPrice {
						margin: 0 1.25rem;
						color: #a7a9ac;
						text-decoration: line-through;
					}
					.sale {
						background: var(--primary-color);
						font-size: 0.875rem;
						padding: 0.3125rem 0.625rem;
						border-radius: 4px;
						font-weight: 400;
					}
				}
			}
			.size {
				border-bottom: 1px solid #d9d9d9;
				padding-bottom: 1.5rem;

				h4 {
					font-size: 1.125rem;
					margin: 1.25rem 0;
				}
				.sizes {
					display: flex;
					align-items: center;
					button {
						border: 1px solid var(--border-color);
						width: 60px;
						height: 60px;
						border-radius: 50%;
						margin-right: 16px;
						span {
							font-size: 0.625rem;
							display: inline-block;
							font-weight: 500;
							color: var(--secondary-color);
						}
						&:hover {
							background-color: #ececec;
							color: var(--black-color);
						}
					}
				}
			}

			.color {
				.colors {
					button {
						width: 80px;
						margin-right: 16px;
						border-radius: 50%;
						&:hover {
							border: 1px solid var(--secondary-color);
						}
						img {
							width: 100%;
						}
					}
				}
			}
			.quantity {
				display: flex;
				flex-direction: column;
				.iterator {
					display: flex;
					justify-content: space-between;
					align-items: center;
					border-radius: 24px;
					margin-bottom: 27px;
					width: 300px;
					border: 1px solid var(--border-color);
					background-color: #f5f5f5;
					button {
						background: var(--primary-color);
						width: 38px;
						height: 38px;
						font-size: 1.125rem;
						font-weight: 500;
						border-radius: 50%;
						margin: 4px;
					}
				}
				.cartBtns {
					display: flex;
					button {
						flex: 0.5;
						padding: 17px 10px;
						font-size: 1rem;
						font-weight: 600;
						border-radius: 26px;
					}
					.addToCart {
						background: var(--secondary-color);
						color: white;
						margin-right: 32px;
					}
					.pickUp {
						background: var(--primary-color);
					}
				}
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.product {
		.productContainer {
			flex-direction: column;
			align-items: center;
			.preview {
				max-width: 700px;
			}
			.details {
				flex-direction: column;
				padding: 0;
				margin-top: 32px;
				.quantity {
					.iterator {
						align-self: center;
					}
				}
			}
		}
	}
}
